bin/
temporary/
ipch/
*.vspscc
*.suo
*.bak
*.tmp
*.opensdf
*.sdf
*.ipch
*.aps
*.pch
*.scc
*.pdsync
*.pdsyncu
*.sws
~$*.docx
~$*.xlsx
publish/
external/
/.project
*.opendb
*.db
*.user
doc/LLD
doc/plan
.vs








